<h1>ユーザーリスト</h1>

<%= button_to "ユーザー登録", new_user_path, method: :get %>

<% @users.each do |user| %>
  <h3>ユーザー名</h3>
  <span><%= user.email %></span>
  <% if session[:user_id] == user.id %>
    <%= button_to "ユーザー削除", user_path(user.id), method: :delete %>
  <% end %>

  <% if current_user != user %>
    <% if user.followed_by?(current_user) %>
        <p><%=button_to "フォロー解除", user_relationships_path(user.id), method: :delete %></p>
    <% else %>
        <p><%=button_to "フォローする", user_relationships_path(user.id), method: :post %></p>
    <% end %>
  <% end %>
<% end %>

<div class="text-notice">
  <%= flash[:notice] %>
</div>

<div class="text-notice">
  <%= flash[:alert] %>
</div>
