
<section class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center" style="height: calc(100vh - 3.25rem);">
  <div class="box" style="width: 600px;">
    <div class="content">
      <div class="block">
        <h2>会員登録</h2>
        <div class="has-background-grey-lighter" style="height: 2px;"></div>
      </div>
    </div>

    <%= form_with model: @user, url: users_path, data: { turbo: "false" } do |f| %>
      <div class="field">
        <label class="label">メールアドレス</label>
        <div class="control">
          <%= f.email_field :email, class: "input is-black", placeholder: "sample@example.com" %>
        </div>
      </div>

      <div class="block">
        <div class="field">
          <label class="label">パスワード</label>
          <div class="control">
            <%= f.password_field :password, class: "input is-black", placeholder: "********" %>
          </div>
        </div>
      </div>

      <div class="block">
        <div class="control">
          <%= f.submit '新規会員登録', class: "button is-link has-background-light is-fullwidth" %>
        </div>
      </div>
    <% end %>

    <div class="mt-5">
      <div class="levlel">
        <% if flash[:alert] %>
          <div class="notification is-danger is-light has-text-centered">
            <%= flash[:alert] %> 
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


<!--
<%= form_with model: @user, url: users_path, local: true, data: { turbo: "false" } do |form| %>
  <div>
    <h3>
      <%= flash[:alert] %> 
    </h3>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <table>
    <tr>
      <th>メールアドレス</th>
      <td><%= form.text_field :email %></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td><%= form.text_field :password %></td>
    </tr>
    <tr>
      <td><%= form.submit '送信' %></td>
    </tr>
  </table>
<% end %>
-->