<h1>マイページ</h1>

<h3>ユーザー名</h3>
<p><%= @user.email %></p>
<h3>アカウント作成日</h3>
<p><%= @user.created_at %></p>
<h3>アカウント更新日</h3>
<p><%= @user.updated_at %></p>
<%= button_to "ユーザー編集", edit_user_path(@user.id), method: :get %>

<% @tweets.each do |tweet| %>
  <hr>
  <p><span>ツイート内容: </span><%=link_to tweet.tweet_content, tweet_path(tweet.id) %></p>
<% end %>
