<main class= "columns p-1 m-0">
  <!-- ユーザー情報 -->
  <div class="column is-two-fifths">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="tags are-large mb-2">
            <span class="tag is-white is-size-4 has-text-weight-semibold" style="color: #386641">
              <p>user_name</p>
            </span>
            <span class="tag is-white is-size-5 has-text-weight-semibold" style="color: #7d7d7d">
              <p><%= @user.email %></p>
            </span>
          </div>
          <div class="content">
            <nav class="level">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading is-size-7">投稿</p>
                  <p class="title is-size-4" ><%= @user.tweets.count %></p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading is-size-7">フォロー</p>
                  <p class="title is-size-4">***</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading is-size-7">フォロワー</p>
                  <p class="title is-size-4">***</p>
                </div>
              </div>
            </nav>
          </div>
        </div>  
      </article>
    </div>
  </div>
  <!-- ユーザーの投稿 -->
  <div class="column">
    <div class="box">
      <div class="content m-0 pl-4">
        <h3>投稿</h3>
      </div>
      <% @tweets.each do |tweet| %>
      <article class="media m-0 p-0">
        <div class="media-content">
          <div class="tags are-medium mb-1">
            <span class="tag is-white is-size-5 has-text-weight-semibold" style="color: #386641">
              <p>user_name</p>
            </span>
            <span class="tag is-white is-size-6 has-text-weight-semibold" style="color: #7d7d7d">
              <p><%= tweet.user.email %></p>
            </span>
          </div>
          <div class="content pl-4">
            <p class="content mb-1 is-size-6"><%= tweet.updated_at.strftime("%Y年%_m月%_d日 %_H:%M") %></p>           
            <p class="content mb-1 is-size-5 is-underlined"><%= tweet.title %></p>
            <p class="content mb-1 is-size-5" ><%=link_to tweet.content, tweet_path(tweet.id) %></p>
          </div>
        </div>
      </article>
      <% end %>
    </div>
  </div>
</main>
